# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment files
.env
.env.*

# Alembic
*.sqlite3
*.neon

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Node
node_modules/
npm-debug.log

# Build
dist/
build/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# IDE
.idea/

# Misc
*.swp

.agents/
Backend/.agents/